# Basics
- operators
  -arithmetic
  -assigment
  -comparison
  -logical
  -identity
  -membership
  -bitwise
- variables
- datatypes
- keywords
- io

In [3]:
2+2

4

In [4]:
2736482362376910826272 + 7777639192737882378281

10514121555114793204553

arithmetic operators
    * / // ** %
    + -

In [5]:
23334*39

910026

In [6]:
39/13

3.0

In [7]:
45//9

5

In [8]:
23**9

1801152661463

In [9]:
157**5

95388992557

assigment operator
'= += -= *= /= //= %= **='

In [3]:
x=101
y=2.394
z=False
a=None

In [6]:
x= 5
x += 10
x -=2
x *=3

In [9]:
name = "Eishta Singh"
name += "ðŸ˜Š"

In [10]:
a=12
b=13
c=a+b

conditional operators
<
<=
>
>=
==
!=

In [11]:
a>10

True

In [12]:
a<a-5

False

In [13]:
a=10
b=3

In [14]:
a>b

True

In [15]:
a<b

False

In [16]:
a<=b

False

In [17]:
a>=b

True

In [18]:
a==b

False

In [19]:
a!=b

True

In [20]:
a<b>10

False

logical operators
and
or
not

In [21]:
a = 10
b= 20
a<b and b<30

True

In [22]:
print(a<b and b<30)
print(a<b or b<30)
print( not a<b  )

True
True
False

In [28]:
fruits  = [ 'apple', 'banana', 'cherry']
print('apple' in fruits)
print('orange' in fruits)
print('orange' not in fruits)
print('banana' not in fruits)

True
False
True
False

In [32]:
x=20
y=x
print(x,y)
print(x==y)
print(x is y)

20 20
True
True

In [34]:
name= "eishta"
name2= "eishta"
print(name==name2)
print(name is name2)

True
True

In [38]:
x=[1, 2, 3]
y=x
z=x.copy()
print(x is y)
print(x is z)
print(x ==z)
print(x ==y)

True
False
True
True

Datatypes
-integers "int"
-float 'float'
-boolean 'bool'
-None 'NoneType'
-string 'str'
-list 'list'
-tuple 'tuple'
-set 'set'
-dictionary 'dict'

In [40]:
coords =(10 , 20 , 30)
names =('alex' , 'alan', 'alice' , 'arti')
info ={'name': "eishta" , 'age' :20 , 'city':'lucknow'}

In [41]:
del a