In [1]:
p =12000
r=10.49
t=5
si=p*r*t/100

 example ans=input("prompt")

In [2]:
input()

'ghjhujju'

In [3]:
input("enter your name")

'eishta singh'

In [8]:
name = input("enter your name")
city = input("enter your city")
color= input("enter your favourite color")
fruit =input("enter your favourite fruit")
luckynumber= input("enter your lucky number")

In [9]:
a= input("enter a number")
b= input("enter a number")
print(a+b)

1000500

typecasting
from one data type =>another
str =>int(variable) =>int

In [10]:
float("12.20")

12.2

In [11]:
a=10
b= "10"
c= "10.20"
d=10.20
print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [13]:
print(float(a))
print(str(a))
print(bool(a))
print(int(b))
print(float(b))
print(bool(b))

10.0
10
True
10
10.0
True

In [16]:
a= input("enter a number")
b= input("enter a number")
c=int(a)+int(b)
print(c)

1700

In [17]:
a= int(input('enter a number'))
b= int(input("enter a number"))
c= a+b
print(c)

1700

In [18]:
p= int(input('enter a number'))
r= float(input('enter a number'))
t= int(input('enter a number'))
si= p*r*t
print(si)

150000.0

 answer : 12 - 3 = 9

In [19]:
a=12
b=3
c=a-b
print("answer:" , a ,'-', b , '=',c)

answer: 12 - 3 = 9

In [28]:
p= int(input('enter a principle'))
r= float(input('enter a rate'))
t= int(input('enter a time'))
si= p*r*t
print("simple interest calculator")
print("principle=Rs" , p)
print("rate =" , r , "%" )
print("time=" , t,"year")
print('-' *22)
print("simple interest=" , si)

simple interest calculator
principle=Rs 12000
rate = 2.5 %
time= 5 year
----------------------
simple interest= 150000.0

string interpolation for formatted output

In [29]:
a=12
b=3
c=a-b
print(f"answer: {a} - {b} ={c}")

answer: 12 - 3 =9

In [30]:
b =int(input("enter the base of the trianlge"))
h= int(input("enter the height of the triangle"))
area= 1/2*b*h
print(" area of the triangle")
print(f'base ={b} cm')
print(f'height ={h} cm')
print('_' *15)
print(f'area = {area} cm ')

 area of the triangle
base =24 cm
height =12 cm
_______________
area = 144.0 cm

In [3]:
round(10/3)
print(round(10/3, 1))
print(round(10/3, 2))
print(round(10/3, 3))

3.3
3.33
3.333

In [4]:
a=10
b=7
c=a/b
print(f'{a} divided by {b} is {a/b}')
print(f'{a} divided by {b} is {a/b:.1f}')
print(f'{a} divided by {b} is {a/b:.2f}')
print(f'{a} divided by {b} is {a/b:.3f}')

10 divided by 7 is 1.4285714285714286
10 divided by 7 is 1.4
10 divided by 7 is 1.43
10 divided by 7 is 1.429

In [8]:
n1 = "The final empire"
a1 = "Brandon Sanderson"
p1 = 499
n2 = "The are of war"
a2 = "Sun Tzu"
p2 = 239
n3 = "Stormlight Archives:The way of kings"
a3 = 'Brandon Sanderson'
p3 = 550
print(f'{n1:>40} | {a1:^20} | {p1}')
print(f'{n2:>40} | {a2:^20} | {p2}')
print(f'{n3:>40} | {a3:^20} | {p3}')

                        The final empire |  Brandon Sanderson   | 499
                          The are of war |       Sun Tzu        | 239
    Stormlight Archives:The way of kings |  Brandon Sanderson   | 550