# list
-create
-indexing and slicing
-methods
  -append()
  -insert()
  -extend()
  -remove()
  -pop()
  -clear()
  -count()
  -reverse()
  -sort()
  -index()
  -copy()
-comprehension

In [70]:
a = [1,2,3]
print(a, type(a))
names = ['Alice', 'Bob','Charlie']
print(names, type(names))
data = ['apple', 50, 'mango', 100, 'orange',70]
nested_list = [1,2,3,4],[4,5,6],[7,8]
print(data)
print(nested_list)
duplicated_list = [1]*10
print(duplicated_list)
print(list('vertex'))
print('welcome to listing'.split())

[1, 2, 3] <class 'list'>
['Alice', 'Bob', 'Charlie'] <class 'list'>
['apple', 50, 'mango', 100, 'orange', 70]
([1, 2, 3, 4], [4, 5, 6], [7, 8])
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [71]:
n =[11,12,13,14,15,16,17,18,19,20]
print( 'first six = ',n[:6])
print( 'last six =', n[:-6])
print('last element =', n[-1])
print('first element =',n[0])
print('except first three and last three =',n[3:-3])
print('reverse list =',n[::-1])
print('all the even indexes =',n[::2])
print('all the odd indexes =',n[1::2])
print('reverse of first six indexes =',n[5::-1])

first six =  [11, 12, 13, 14, 15, 16]
last six = [11, 12, 13, 14]
last element = 20
first element = 11
except first three and last three = [14, 15, 16, 17]
reverse list = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
all the even indexes = [11, 13, 15, 17, 19]
all the odd indexes = [12, 14, 16, 18, 20]
reverse of first six indexes = [16, 15, 14, 13, 12, 11]

In [72]:
 #list is mutable
 # n[5]=100
print(n)
n[2]=10
print(n)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 10, 14, 15, 16, 17, 18, 19, 20]

In [73]:
fruits = [ 'apple','mango','orange']
print(fruits)
fruits[0] = 'custard apple'
print(fruits)
fruits[1] = 'jackfruit'
print(fruits)

['apple', 'mango', 'orange']
['custard apple', 'mango', 'orange']
['custard apple', 'jackfruit', 'orange']

In [74]:
movies =[]
print(type(movies))
print(len(movies))
movies.append("star wars")
movies.append("harry potter")
movies.append("the core")
movies.append("bullet train")
movies.append("jumanji")
print(movies)
print(len(movies))

<class 'list'>
0
['star wars', 'harry potter', 'the core', 'bullet train', 'jumanji']
5

In [75]:
ff = ['fast and furious',
 '2 fast and 2 furious',
 'fast and furious :tokyo drift',
 'fast 5']
ff.insert(3, 'fast and furious 4')
print(ff)

['fast and furious', '2 fast and 2 furious', 'fast and furious :tokyo drift', 'fast and furious 4', 'fast 5']

In [76]:
n =[1,2,3,6,7,8,9]
n.insert(3,4)
print(n)
n.insert(4,5)
print(n)
n.insert(100,5)
print(n)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

In [77]:
l1= [1,2,3]
l2=[4,5,6]
l3=[7,8,9]
l1.extend(l2)
print(l1)
print(l2)
l2.extend(l3)
print(l2)
l3.extend([1,2,3,4,5])
print(l3)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[4, 5, 6, 7, 8, 9]
[7, 8, 9, 1, 2, 3, 4, 5]

In [78]:
n.remove(3)
print(n)
n.remove(5)
print(n)

[1, 2, 4, 5, 6, 7, 8, 9, 5]
[1, 2, 4, 6, 7, 8, 9, 5]

In [79]:
movies.remove('the core')
print(movies)

['star wars', 'harry potter', 'bullet train', 'jumanji']

In [80]:
movies.pop()
print(movies)

['star wars', 'harry potter', 'bullet train']

In [81]:
n.clear()
print(n)
movies.clear()
print(movies)

[]
[]

In [82]:
x=[1,2,3,1,1,1,2,2,2,3,3,2,1,3,2]
print(x.count(1))
print(x.count(2))
print(x.count(3))

5
6
4

In [83]:
y=[1,2,3,4,5]
y.reverse()
print(y)

[5, 4, 3, 2, 1]

In [84]:
names=['vijay','salman','rahul','akbar']
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['akbar', 'rahul', 'salman', 'vijay']
['vijay', 'salman', 'rahul', 'akbar']

In [85]:
heroes = ['goku','naruto','luffy','ichigo','natsu', 'meliodas']
print(heroes)
luffy_idx= heroes.index('luffy')
print(luffy_idx)

['goku', 'naruto', 'luffy', 'ichigo', 'natsu', 'meliodas']
2

In [86]:
x=[1,2,3]
y=x #y is arefernce to x
z=x.copy() #z is  a shallow copy
x.append(4)
y.append(5)
z.append(6)
print(x)
print(y)
print(z)
print(x is y)
print(x is z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 6]
True
False

comprehension

In [87]:
x=[1,2,3,4,5]
x2=[]
for i in x:
    s=i**2
    x2.append(s)
print(x2)

[1, 4, 9, 16, 25]

In [88]:
x=[1,2,3,4,5]
x2=[i**2 for i in x]
print(x2)
x3=[i**3 for i in x]
print(x3)

[1, 4, 9, 16, 25]
[1, 8, 27, 64, 125]

In [89]:
a =[1,2,3,4,5,6,7,8,9,10]
x=[i-10 for i in a]
print(x)

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [90]:
x =[15,3,12,11,6,7]
xeven2= [i**2 for i in x if i%2==0]
print(xeven2)
xodd3= [i-5 for i in x if i%2==1]
print(xodd3)

[144, 36]
[10, -2, 6, 2]

In [91]:
a=[65,68,59,20,70]
b= [chr(i) for i in a]
print(a)
print(b)

[65, 68, 59, 20, 70]
['A', 'D', ';', '\x14', 'F']

In [92]:
crap_list =['A', 1,2,3,'B','C','D',4,5,5,1,1,2,5,6]
clean_list=[ i for i in crap_list if isinstance(i,int)] #isinstance datatype checking function
print(crap_list)
print(clean_list)
clean_list2=[ i for i in crap_list if isinstance(i,str)]
print(clean_list2)

['A', 1, 2, 3, 'B', 'C', 'D', 4, 5, 5, 1, 1, 2, 5, 6]
[1, 2, 3, 4, 5, 5, 1, 1, 2, 5, 6]
['A', 'B', 'C', 'D']

In [93]:
#make all the input into a int list
nums=[ int(n) for n in input().split()]
print(nums)

[1, 234, 5332, 23, 3, 13]

#tuple

In [94]:
a =(1,2,3,4,5)
print(a, type(a))
b= 1,2,3,4
print(b, type(b))
# single element tuple 
c = (1,)
print(c)
d =(1,)*5 #tuple duplication
print(d)
e=tuple([1,2,3,4,5])
print(e,type(e))

(1, 2, 3, 4, 5) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
(1,)
(1, 1, 1, 1, 1)
(1, 2, 3, 4, 5) <class 'tuple'>

In [96]:
print(a[0])
print(a[1])
print(a[-1])
print(a[:3])
print(a[3:])

1
2
5
(1, 2, 3)
(4, 5)

In [95]:
x=(1,1,1,1,3,4,5,6,6,0)
print(x.count(1))
print(x.count(10))
print(x.count(4))

4
0
1

*tuple unpacking:process of dividing a tuple variables into different variables

In [1]:
1,2,3,

(1, 2, 3)

In [2]:
x= ('apple', 100)
print(x)

('apple', 100)

In [3]:
item , price = x
print(item, price)

apple 100

In [4]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [8]:
# * -unpacking operator
one_tuple=(1,2,3,4,5,6,7,8,9,10)
a,b, *c,=one_tuple
print(a,b,c)

1 2 [3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
a, *b=one_tuple
print(a)
print(b)
*a,b = one_tuple
print(a)
print(b)

1
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
10

In [11]:
one,*middle,last=one_tuple
print(one)

1

In [16]:
print(one_tuple)
print(*one_tuple)
print(*one_tuple , sep='\n')

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10
1
2
3
4
5
6
7
8
9
10