set
-create
-method

In [11]:
x=set()
print(x)
y={1,2,3,4,5,6,1,2}
print(y)
fruits=["apple","banana","cherry"]
print(fruits)
data=['apple',205,3.14,'banana']
print(data)
a=set([1,2,3,4,5,6,7,8,9,10])
b=set("harry potter")
print(a)
print(b)

set()
{1, 2, 3, 4, 5, 6}
['apple', 'banana', 'cherry']
['apple', 205, 3.14, 'banana']
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'o', 'h', 'y', 'e', ' ', 't', 'r', 'a', 'p'}

In [12]:
a = set()
a.add("the final empire")
a.add("the hero of ages")
a.add("the well of ascension")
print(a)

{'the final empire', 'the well of ascension', 'the hero of ages'}

In [13]:
a.update(['appleseed','applepie','applecider'])
print(a)

{'the hero of ages', 'applepie', 'the final empire', 'the well of ascension', 'appleseed', 'applecider'}

In [14]:
a.add("appleseed")
print(a)

{'the hero of ages', 'applepie', 'the final empire', 'the well of ascension', 'appleseed', 'applecider'}

In [15]:
a.discard("appleseed")
a.discard("applepie")
a.discard("appleseed")
print(a)

{'the hero of ages', 'the final empire', 'the well of ascension', 'applecider'}

In [16]:
a={1,2,3}
b={3,4,5}
c={6,7,8}
ab= a.union(b)
print(ab)
print(a.union(b,c))
print(a|b|c)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
print(a.intersection(b))
print(a & b)
print(a & c)
print(a & b & c)

{3}
{3}
set()
set()

In [18]:
print(a.difference(b))
print(b.difference(a))
print(a-b)
print(a-c)

{1, 2}
{4, 5}
{1, 2}
{1, 2, 3}

In [19]:
print(a.symmetric_difference(b))
print(a^b)

{1, 2, 4, 5}
{1, 2, 4, 5}

DICTIONARY

In [22]:
data = ["Alex",True , False ,29, "New York", "Photographer"]
datadict={
    'name':"Alex",
    'isMarried': True,
    'haschildren': False,
    'age' : 29,
    'city': 'New York',
    'profession':'Photographer'}
print(datadict)

{'name': 'Alex', 'isMarried': True, 'haschildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photographer'}

In [23]:
movies ={}
print(movies)

{}

In [24]:
expenditure = dict(
    food =500,
    rent = 1700,
    insurance =200
)
print(datadict)
print(expenditure)

{'name': 'Alex', 'isMarried': True, 'haschildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photographer'}
{'food': 500, 'rent': 1700, 'insurance': 200}

-creating
-accessing
-add or update
-remove
-taversal

In [26]:
print(datadict['name'])
print(datadict['isMarried'])
print(datadict['city'])

Alex
True
New York

In [28]:
print(datadict.get('city'))
print(datadict.get('City'))
print(datadict.get('age',100))
print(datadict.get('AGE',100))

New York
None
29
100

In [31]:
movies['Deadpool and wolverine'] ="Shawn Levy"
movies['Bahubali'] =" SS Rajamaouli"
movies['Inception'] =" Christopher Nolan"
print(movies)

{'Deadpool and wolverine': 'Shawn Levy', 'Bahubali': ' SS Rajamaouli', 'Inception': ' Christopher Nolan'}

In [32]:
movies.update(
    {
        'The Dark Knight ': 'Christopher Nolan',
        'The Prestige':'Christopher Nolan',
        'The Matrix':'Wachowski Brothers',
    }
)
print(movies)

{'Deadpool and wolverine': 'Shawn Levy', 'Bahubali': ' SS Rajamaouli', 'Inception': ' Christopher Nolan', 'The Dark Knight ': 'Christopher Nolan', 'The Prestige': 'Christopher Nolan', 'The Matrix': 'Wachowski Brothers'}

In [33]:
datadict['name']= 'Alexander'
print(datadict)

{'name': 'Alexander', 'isMarried': True, 'haschildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photographer'}

In [34]:
movies.pop("Bahubali")

' SS Rajamaouli'

for loop in dict will iterate over keys

In [35]:
for item in datadict:
    print(item)

name
isMarried
haschildren
age
city
profession

In [36]:
for item in datadict:
    print(datadict[item])

Alexander
True
False
29
New York
Photographer

In [37]:
for k , v in datadict.items():
    print(k,v)

name Alexander
isMarried True
haschildren False
age 29
city New York
profession Photographer

In [38]:
movies.keys()

dict_keys(['Deadpool and wolverine', 'Inception', 'The Dark Knight ', 'The Prestige', 'The Matrix'])

In [39]:
movies.values()

dict_values(['Shawn Levy', ' Christopher Nolan', 'Christopher Nolan', 'Christopher Nolan', 'Wachowski Brothers'])

In [40]:
report ={
    '01' :{
        'name':"Alex",
        'subjects':{
            'maths': 90,
            'science': 85,
            'english': 95,
        }
    },
    '02' : {
        'name':"John",
        'subjects':{
            'maths': 80,
            'science': 75,
            'english': 85,
            }
        },
}

In [41]:
report['02']['subjects']['english']

85

In [42]:
from pprint import pp

In [43]:
pp(report)

{'01': {'name': 'Alex',
        'subjects': {'maths': 90, 'science': 85, 'english': 95}},
 '02': {'name': 'John',
        'subjects': {'maths': 80, 'science': 75, 'english': 85}}}

In [44]:
rainfall_data ={
    'year': [2019,2020,2021,2022,2023],
    'rainfall':[100,200,150,300,250]
}
print(rainfall_data)

{'year': [2019, 2020, 2021, 2022, 2023], 'rainfall': [100, 200, 150, 300, 250]}