STRINGS
-creation
-indexing and slicing
-methods

In [21]:
a ='apple'
print(type(a))

<class 'str'>

In [22]:
b = "big apple"
print(type(b))

<class 'str'>

In [23]:
c = '''this is a string. 
and its is triple qoutes'''
print(type(c))

<class 'str'>

In [24]:
d= str(129300)
print(type(c))

<class 'str'>

types of string
-byte b'hello'
-raw r'hello'
-format f'hello'

In [ ]:
print(b' this is a byte string')
print(r' this ia \n\n\n a byte string')
print(f'{a} isa value')

#indexing
-5 -4 -3 -2 -1
 a  p  p  l  e
 0  1  2  3  4

In [1]:
word = 'Greek'
print(word[0])
print(word[1])
print(word[2])
print(word[-2])
print(word[-1])

G
r
e
e
k

In [2]:
msg ="Journey before destination"
print(msg[15])
print(msg[-6])

d
n

In [4]:
print(msg[8:14])

before

In [7]:
print(msg[15:26])

destination

In [12]:
name = 'Vijay Deenanath Chauhan'
fname = name[:5]
mname = name[6:15]
lname = name[16:23]
print (fname)
print(mname)
print(lname)

Vijay
Deenanath
Chauhan

In [14]:
x= "$1599.25 only"
print("convert it into float")
x = float(x[1:-5])
print(x)

convert it into float
1599.25

# string methods
-formatting
  -upper()
  -lower()
  -capitalize()
  -title()
  -swapcase()
  -casefold()
  -center()
  -ljust()
  -rjust()

In [19]:
msg = 'life is beautiful'
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.casefold())
print(msg.swapcase())
print(msg.center(50))
print(msg.ljust(50))
print(msg.rjust(50))
print(msg.rjust(50 , '*'))
print(msg.ljust(50 , '*'))
print(msg.center(50 , '*'))

LIFE IS BEAUTIFUL
life is beautiful
Life Is Beautiful
Life is beautiful
life is beautiful
LIFE IS BEAUTIFUL
                life is beautiful
life is beautiful
                                 life is beautiful
*********************************life is beautiful
life is beautiful*********************************
****************life is beautiful*****************

validation method
-isalpha
-isalnum
-isnumeric
-isdigit
-isspace
-isascii
-isprintable
-isupper
-islower

In [20]:
data = input("enter something")
print(data)
print(data.isalpha())
print(data.isalnum())
print(data.isnumeric())
print(data.isdigit())
print(data.isspace())
print(data.isascii())
print(data.isprintable())
print(data.isupper())
print(data.islower())

apple pie
False
False
False
False
False
True
True
False
True

In [25]:
for i in range(0,280,5):
    c=chr(i)
    print(f'{i} = {c}, {c.isascii()}')

0 =  , True
5 = , True
10 =
, True
15 = , True
20 = , True
25 = , True
30 = , True
35 = #, True
40 = (, True
45 = -, True
50 = 2, True
55 = 7, True
60 = <, True
65 = A, True
70 = F, True
75 = K, True
80 = P, True
85 = U, True
90 = Z, True
95 = _, True
100 = d, True
105 = i, True
110 = n, True
115 = s, True
120 = x, True
125 = }, True
130 = , False
135 = , False
140 = , False
145 = , False
150 = , False
155 = , False
160 =  , False
165 = ¥, False
170 = ª, False
175 = ¯, False
180 = ´, False
185 = ¹, False
190 = ¾, False
195 = Ã, False
200 = È, False
205 = Í, False
210 = Ò, False
215 = ×, False
220 = Ü, False
225 = á, False
230 = æ, False
235 = ë, False
240 = ð, False
245 = õ, False
250 = ú, False
255 = ÿ, False
260 = Ą, False
265 = ĉ, False
270 = Ď, False
275 = ē, False

utility functions 
- split()
-join()
find()
index
replace
count
strip

In [1]:
sentence = "All the glitters is not gold"
sentence.split()

['All', 'the', 'glitters', 'is', 'not', 'gold']

In [2]:
words = sentence.split()
for word in words:
    print(word)

All
the
glitters
is
not
gold

In [5]:
quote = "life before death, strength before weakness, journey before destination"
quote.split(",")

['life before death',
 ' strength before weakness',
 ' journey before destination']

In [11]:
poem = """
Johnny Johnny , Yes papa
eating sugar , no papa
telling lies , no papa
open your mouth , ha! ha! ha!
"""
poem.splitlines()

['',
 'Johnny Johnny , Yes papa',
 'eating sugar , no papa',
 'telling lies , no papa',
 'open your mouth , ha! ha! ha!']

In [15]:
address = ['c','user' , 'eishta', 'download', 'file.txt']
print(address)
fulladdress = "/".join(address)
print(fulladdress)

['c', 'user', 'eishta', 'download', 'file.txt']
c/user/eishta/download/file.txt

wap to count all even sized words in a string enter by user

In [20]:
sentence =  input('enter a sentence')
words = sentence.split()
total = 0
for word in words:
    size =len(word)
    if size % 2 ==0:
        total+=1
print(total)

6

In [26]:
#find() and index()
a = 'this is a message'
print(a.find('is'))
print(a.find('mess'))
print(a.find('are'))
print(a.find('is',3))
print(a.index('is'))
print(a.index('mess'))
print(a.index('is',3))

2
10
-1
5
2
10
5

In [28]:
b = a.replace("is" , "was")
print(b)
c = b.replace("message" , "letter").replace("was" , "is")
print(c)
d= c.replace('t', 'k',2)
print(d)

thwas was a message
this is a letter
khis is a lekter

In [29]:
#replace as remove
data= "he!!!!llo"
data.replace('!','')

'hello'

wap tp remove all vowels from a string

In [31]:
"welcome to my world".replace('a','').replace('e','').replace('i','').replace('o','').replace('u','')

'wlcm t my wrld'

In [32]:
msg ='one two three one two'
print(msg.count("o"))
print(msg.count("one"))
print(msg.count("ee"))
print(msg.count("four"))

4
2
1
0

In [34]:
name = '  eishta '
print(len(name),name)
clean_name = name.strip()
print(len(clean_name),name)

9   eishta
6   eishta

name = [
    'john',
    'alex',
    'jane',
    'alexa',
    'jacob',
]
display  this data after removing all leading anf trailing spaces and making itupper case

In [44]:
names = ['john', 'alex',  'jane', 'alexa',   'jacob' ]
for name in names:
    print(name.strip().title())

John
Alex
Jane
Alexa
Jacob